<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">Update information</h6>
        <form
          [formGroup]="doctorForm"
          (submit)="saveDoctor()"
          class="form-horizontal p-t-20"
        >
          <div class="form-group row" *ngIf="currentDoctor">
            <label for="" class="col-sm-3 control-label">Image </label>
            <div class="col-sm-9">
              <img
                [src]="currentDoctor?.img ?? '' | image: 'doctors'"
                alt="Doctor"
                class="w200"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Name*
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Doctor Name"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Hospital*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-email"></i></div>
                <select
                  formControlName="hospital"
                  class="form-control"
                  name="hospital"
                >
                  <option value="">Select an hospital</option>
                  <option
                    *ngFor="let hospital of hospitals"
                    [value]="hospital._id"
                  >
                    {{ hospital.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
                [disabled]="doctorForm.invalid"
              >
                <i class="fa fa-save"></i>
                Save changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 animated fadeIn" *ngIf="currentHospital">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h4 class="card-subtitle">{{ currentHospital?.name }}</h4>
        <img
          [src]="currentHospital?.img ?? '' | image: 'hospitals'"
          alt="Doctor"
          class="img-thumbnail"
        />
      </div>
    </div>
  </div>
</div>
