<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My User profile</h4>
        <h6 class="card-subtitle">Settings</h6>
        <form [formGroup]="profileForm!" (ngSubmit)="updateProfile()" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                formControlName="email"
                [readonly]="user?.google"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="profileForm?.invalid"
          >
            <i class="fa fa-save"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User image</h6>
        <div class="text-center p-2">
          <img [src]="imageUrl" alt="Image" class="img-avatar" />
        </div>
        <input type="file" (change)="changeImage($event)" />
          <button
          type="button"
          class="btn btn-success btn-block waves-effect waves-light mt-4"
          [disabled]="!uploadingImage"
          (click)="updateImage()"
        >
          <i class="fa fa-save"></i> Change image
        </button>
      </div>
    </div>
  </div>
</div>
